*
{
    box-sizing: border-box;

}
H1
{
    text-align: center;
    margin-bottom: 10px;
}
div.maindiv
{

    background-color:beige;
    border:3px solid black;
    margin: 10px;
}
div>h3{
    text-align: right;
    margin: 0;
    padding: 0;
}
#chicken
{
    background-color:aliceblue;
}
#beef
{
    background-color: antiquewhite;
    
}
#sushi
{
    background-color:azure; 
}
@media screen and (min-width:1200px)
{
    div.maindiv
    {
        width:25%;
        margin-right: 4%;
        float: left;
    }
}
@media screen and (min-device-width:768px) and (max-device-width:1199px)
{
    div.maindiv
    {
        width:40%;
        margin-right: 4%;
        float: left;
    }
    #divnofloat
    {
        clear: left;
        width:85%;
    }
}
@media only screen and (max-device-width:767px)
{
    div.maindiv
    {
        width:85%;
        margin:right:4%;
    }
}